snippet sel "Select Query"
select ${1:*} from \`${2:order}\`$0;
endsnippet

snippet des "Describe Table"
describe \`${0:order}\`;
endsnippet

snippet ind "Show Indexes"
show index from \`${0:order}\`;
endsnippet
