snippet log "Console Log"
console.log($0);
endsnippet

snippet foo "Lodash forEach loop"
_.forEach($1, function($2) {
	$0
});
endsnippet

snippet foe "ES6 Lodash forEach loop"
_.forEach($1, ($2) => {
	$0
});
endsnippet
